.carousel-container {
    position: relative;
    width: 100%;
    height: 700px; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carousel-image {
    width: 100%;
    height: 700px;
    object-position: bottom;
    display: block;
  }
  
  
  @media (min-width: 600px) {
    .carousel-text h1 {
      font-size: 2rem;
    }
  
    .carousel-text p {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 900px) {
    .carousel-text h1 {
      font-size: 3rem;
    }
  
    .carousel-text p {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 600px) {
    .carousel-container {
        height: 350px;
    }
    .carousel-text h1 {
      font-size: 0.8rem;
    }
  
    .carousel-text p {
      font-size: 0.9rem;
    }
  }
  