.custom-navbar {
    background-color: rgb(23, 23, 93) !important;
    padding: 0.9rem 0;
  }
  
  .custom-navbar .custom-nav-link {
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1rem;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  }
  
  .custom-navbar .custom-nav-link:hover {
    color: #d1e8ff !important;
    color: lightslategrey;
  }
  
  @media (max-width: 991px) {
    .custom-navbar .custom-nav-link {
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

  @media only screen and (max-width: 768px) {
      .custom-navbar .custom-nav-link {
          font-size: 12px;
      }
    }
  
    .custom-navbar .custom-nav-link:hover {
      color: #d1e8ff !important;
      border-bottom: 2px solid #d1e8ff;
    }
  }

  .navbar-nav .dropdown-menu {
    width: 80vw; /* Full width of the viewport */
    min-width: 800px; /* Set a minimum width for the dropdown */
    position: static; /* This ensures the dropdown takes up space in the document flow */
    padding: 20px;
}

.dropdown-menu-full-width {
    display: flex;
    justify-content: space-between;
    text-align: center; /* Ensures the text in the dropdown is centered */
    align-items: center;
    gap: 60px; /* Increased gap for more spacing */
    margin: 10px 0; /* Adds some vertical spacing */
}

.dropdown-menu-full-width .col-4 {
    padding: 10px;
}

.dropdown-menu-full-width h6 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropdown-menu-full-width .dropdown-item {
    text-align: center; /* Centers the dropdown items */
    margin: 5px 0; /* Adds some vertical spacing between items */

    /* Text clamping */
    display: -webkit-box; /* Necessary for WebKit browsers */
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical; /* Box orientation */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Adds ellipsis (...) if text overflows */
    white-space: nowrap; /* Prevents text wrapping */
}

#navbar-dropdown .nav-link {
    pointer-events: none; /* Disables hover interaction */
    color: inherit; /* Keeps the current text color */
    cursor: default; /* Sets a default cursor */
}

